*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page1{
    background-color: #f0f0f0;
    height: 100vh;
}
.page2{
    background-color: #d0d0d0;
    height: 100vh;
}
.page3{
    background-color: #b0b0b0;
    height: 100vh;
}