* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,
body {
    height: 100px;
    width: 200px;
}

.parent {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(243, 242, 242);

}

.card img {
    height: 100;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;

}

.card p {
    margin: 20px 0;
}

.card button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #b1f899;
    color: black;
    cursor: pointer;
}