.header{
    background-color: lightgray;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    display: flex;
    margin: 5px;
}
.header h3{
    color: red;
}
.logo{
    text-decoration: underline;
}